[Desktop Entry]
Name=record stop
Comment=Stop screen recording
Exec=/home/ms/.local/bin/record-screen stop
Icon=media-playback-stop
Terminal=false
Type=Application
Categories=Utility;
