[Desktop Entry]
Name=Lights (Hue)
Comment=Hue light controller
Exec=/home/ms/.local/bin/tofi-hue
Icon=weather-clear
Terminal=false
Type=Application
Categories=Utility;
