[Desktop Entry]
Name=bluetooth
Comment=Bluetooth device manager bt
Exec=/home/ms/.local/bin/tofi-bluetooth
Icon=bluetooth
Terminal=false
Type=Application
Categories=Utility;
